html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/* Navigation Bar */
.navbar {
  float: right;
  margin-top: 20px;
}
.navbar a,
#nav-icon,
#products {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fdfdfd;
  margin: 10px;
  padding: 7.5px;
  border-radius: 3px;

}
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
#sign-in {
  border: 2px solid #fdfdfd;
  border-radius: 3px;
  padding: 7.5px;
}
#sign-up {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid gold;
  border-radius: 3px;
  background-color: gold;
  padding: 7.5px;
}
#sign-up,
#sign-in {
  text-transform: uppercase;
}
#nav-icon {
  font-size: 40px;
  padding: 0px;
}
#nav-icon:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.6s;
}
/* End Navigation Bar */

/* Content */
.content {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
#main-icon {
  font-size: 128px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 38px;
  margin-bottom: 0px;
}
.content h1 {
  color: #fdfdfd;
  font-size: 84px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.content h1 + p {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Crimson Text', serif;
  margin-top: 0px;
  max-width: 900px;
  color: #fdfdfd;
  font-size: 42px;
  font-style: italic;
}
.top-stories,
.facebook {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 3px;
}
.top-stories:hover,
.facebook:hover {
  cursor: pointer;
}
.top-stories {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fdfdfd;
}
.facebook {
  margin-left: 10px;
  border-color: #3B5998;
  background-color: #3B5998;
}
.
/* End Content */
/* Footer */
.footer {
  text-align: center;
  margin: auto;
}
.wrap {
  text-align: center;
}
.appstore,
.travelistly {
  text-align: center;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 60px;
}
.appstore img,
.travelistly img {
  height: 40px;
}
.appstore img:hover,
.travelistly img:hover{
  cursor: pointer;
}
.appstore {
  margin-right: 10px;
}
.travelistly {
  margin-left: 10px;
}
#products {
  text-align: center;
  text-transform: uppercase;
}
/* End Footer */
